// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...
#wrapperDashboard {
  background: url('../img/bgDashboard.png');
  background-position: bottom;
  background-size: cover;
  width: 100%;
  .dashboard {
    position: relative;
    .bgMapDashboard {
      position: absolute;
      left: 0;
      background: url('../img/bgMapDashboard.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: calc(100vh - 100px);
    }
    a {
      &:hover {
        text-decoration: none;
        color: $black !important;
        opacity: .8;
      }
    }
  }
}
