footer.sticky-footer {
  padding: 4rem 0 1rem;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
  }
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}
.security {
  img {
    width: 100%;
    max-width: 100px;
  }
}
