// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...
.bg-login-image {
  background: url('../img/bgMap.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-register-image {
  background: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800');
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url('https://source.unsplash.com/oWTW-jNGl9I/600x800');
  background-position: center;
  background-size: cover;
}
input:-webkit-autofill {
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-color: white;
}
::placeholder {
  color: $white !important;
}
::-webkit-input-placeholder { /* Edge */
  color: $white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $white;
}
input:-moz-autofill {
  -moz-text-fill-color: $white;
  background-color: white;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-webkit-autofill {
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-color: white;
}

input:focus:-moz-autofill {
  -moz-text-fill-color: $white;
  -moz-box-shadow: 0 0 0px 1000px white inset;
  background-color: white;
}
.wrap-logo {
  left: 50%;
  top: -15px;
  margin-left: -25px;
}
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  h1 {
    line-height: 25px;
  }
  .capcha, .capchaRefresh {
    img {
      height: 40px;
    }
  }
  .rounded-login {
    border-radius: 30px !important;
    &:hover {
      background: $secondary !important;
      color: $white;
    }
  }
  .logoLogin {
    height: 80px;
  }
}
form.user {

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    padding: 1.5rem 1rem;
  }

  .btn-user {
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}
