﻿
$white: #fff !default;
$blue: #015AB4 !default;

$gray-ccc: #ccc;

//border
$border-filter: #CAD1DC !default;
$border-province: #D3D3D3 !default;

#content > .boxMap {
    position: relative;
    display: grid;
    grid-template-columns: 60px 300px calc(100% - 360px);
    grid-gap: 0;
    padding: 0;

    .map-menu-left {
        background: $white;
        padding: 12px;
    }

    .map-province {
        position: relative;
        background: #F1F1F1;
        padding: 12px 14px;
    }

    .map-right {
        background: $white;
        position: relative;
    }
}


ul.map-menu-left-icon {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding: 0 0 10px;

        a {
            display: block;
            text-align: center;
            color: $blue;
            padding: 5px;
            border-radius: 5px;
            font-size: 14pt;

            &.active {
                background: $blue;
                color: $white;
            }
        }
    }
}


.boxMap .map-province {

    .map-province-header {
        background: $blue;
        border-radius: 3px;
        padding: 9px 12px;
        margin-bottom: 12px;

        h3.title {
            font-size: 11pt;
            font-weight: bold;
            color: $white;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            line-height: 20px;
        }
    }

    .map-province-filter {
        background: $white url('/img/icon-search.png') no-repeat 5px center;
        border: 1px solid $border-filter;
        border-radius: 3px;
        padding: 0 12px 0 35px;
        margin-bottom: 12px;

        input {
            border: 0;
            line-height: 20px;
            padding: 8px 5px;
            width: 100%;
            outline: none !important;
        }
    }

    .map-province-body {
        height: calc(100vh - 194px);
        overflow: hidden;
        overflow-y: scroll;
    }
}


#map {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}



/*JSTREE CUSTOM*/
#jstreeProvince {

    > .jstree-container-ul {
        padding: 0 13px;

        > .jstree-node {
            margin-left: 0;
            margin-right: 0;
            border-bottom: 1px solid $border-province;
            padding: 5px 0;
            background: none;

            &:last-child {
                border-bottom: none;
            }

            a.jstree-anchor {
                background: none !important;
                box-shadow: none !important;
                padding-left: 0;
            }
        }

        > .jstree-node.jstree-leaf {
            background: none !important;

            > i.jstree-icon {
                background: none !important;
                margin-left: -13px;
                width: 13px;
            }
        }

        > .jstree-node.jstree-closed > .jstree-ocl {
            background-position: -100px -4px;
            background-position: -12px -4px;
            margin-left: -13px;
            width: 13px;
        }


        > .jstree-node.jstree-open > .jstree-ocl {
            background-position: -43px -4px;
            margin-left: -13px;
            width: 13px;
        }

        .jstree-checkbox {
            background-position: -169px -4px;
            width: 18px;
        }

        .jstree-checkbox:hover {
            background-position: -169px -36px;
        }
    }
}


#jstreeProvince.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover,
#jstreeProvince .jstree-checked > .jstree-checkbox:hover {
    background-position: -233px -36px !important;
}

#jstreeProvince.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox,
#jstreeProvince .jstree-checked > .jstree-checkbox {
    background-position: -233px -4px;
}

#jstreeProvince .jstree-themeicon {
    background-position: -260px -4px;
}

/*#jstreeProvince .jstree-clicked .jstree-themeicon,*/
#jstreeProvince li.jstree-open > a.jstree-anchor > .jstree-themeicon {
    background-position: -260px -66px;
}

/*SUB 1*/
#jstreeProvince {
    > .jstree-container-ul > li > ul > .jstree-node {
        background: none !important;
        margin-left: 5px;

        &.jstree-leaf {
            background: none !important;

            > i.jstree-icon {
                background: none !important;
                margin-left: 0;
                width: 19px;
            }
        }

        &.jstree-closed > .jstree-ocl {
            background-position: -100px -4px;
            background-position: -12px -4px;
            margin-left: 0;
            width: 19px;
        }

        &.jstree-open > .jstree-ocl {
            background-position: -43px -4px;
            margin-left: 0;
            width: 19px;
        }
    }
}

/*END SUB 1*/

/*SUB 2*/
#jstreeProvince {
    > .jstree-container-ul > li > ul li ul > .jstree-node {
        margin-left: 0;
        background-position: -299px -4px;

        &.jstree-leaf > i.jstree-icon {
            background-position: -75px -4px;
            margin-left: 0;
            width: 24px;
        }

        &.jstree-closed > .jstree-ocl {
            margin-left: 0;
            width: 24px;
        }

        &.jstree-open > .jstree-ocl {
            margin-left: 0;
            width: 24px;
        }

        a.jstree-anchor {
            margin-left: 18px;

            i.jstree-checkbox {
                margin-right: 6px;
            }

            i.jstree-themeicon {
                display: none;
            }
        }
    }
}

/*END SUB 2*/

/*END JSTREE*/

/**STYLE GOOGLE MAP*/

#mapInfoModal {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 7px;
    padding: 10px;
    padding: 10px;
    border: 1px solid $border-province;
    background: $white;
    display: none;

    .mapinfomodal-close {
        position: absolute;
        top: 3px;
        right: 3px;
        background: $gray-ccc !important;
        color: $white !important;
        border: none;
        font-weight: normal;
        padding: 3px 8px;
        border-radius: 7px;
        font-size: 9pt;
    }

    .mapinfomodal-header {
        font-weight: bold;
        padding-right: 30px;
    }
}

#markermenu {
    width: 300px;
    box-shadow: 3px 3px 5px #888888;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 2px;
    position: fixed;
    display: none;

    .menu-item {
        background-color: $white;
        padding: 3px 5px;

        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }
}

.marker-label {
    color: #000 !important;
    text-shadow: 0px 0px 6px #fff, -1px -1px 0px #77fe84, -1px 1px 0px #77fe84, 1px 0px 0px #77fe84, 1px -1px 0px #77fe84, 1px 1px 0px #77fe84;
    font-size: 11pt !important;
    font-weight: 600;
}

.gm-style-iw.gm-style-iw-c {
    > button {
        width: 24px !important;
        height: 24px !important;
        line-height: 24px;
        padding: 0 !important;
        text-align: center;
        background: $gray-ccc !important;
        color: $white !important;
        top: 0 !important;
        right: 0 !important;

        img {
            margin: 5px !important;
        }
    }
}

.info-map {
    display: block;
    max-width: 300px;
}

.info-map-title {
    font-size: 12pt;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 3px;
}

.info-map-content {
    font-size: 11pt;
    line-height: 20px;
}
/**END STYLE*/

/**CONTROL MAP*/
.gm-style .controls {
    font-size: 28px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    height: 1em;
    margin: 6px;
    text-align: center;
    user-select: none;
    padding: 2px;
    width: 1em;
}

.gm-style .controls button {
    border: 0;
    background-color: $white;
    color: rgba(0, 0, 0, 0.6);
}

.gm-style .controls button:hover {
    color: rgba(0, 0, 0, 0.9);
}

.gm-style .controls.zoom-control {
    display: flex;
    flex-direction: column;
    height: auto;
}

.gm-style .controls.zoom-control button {
    font: 0.85em Arial;
    margin: 1px;
    padding: 0;
}

.gm-style .controls.maptype-control {
    display: flex;
    flex-direction: row;
    width: auto;
}

.gm-style .controls.maptype-control button {
    display: inline-block;
    font-size: 0.5em;
    margin: 0 1px;
    padding: 0 6px;
}

.gm-style
.controls.maptype-control.maptype-control-is-map
.maptype-control-map {
    font-weight: 700;
}

.gm-style
.controls.maptype-control.maptype-control-is-satellite
.maptype-control-satellite {
    font-weight: 700;
}

.gm-style .controls.reset-control button {
    display: block;
    font-size: 10pt;
    height: 100%;
    width: 100%;
}

.gm-style .controls.print-control button {
    display: block;
    font-size: 10pt;
    height: 100%;
    width: 100%;
}


.gm-style .controls.fullscreen-control button {
    display: block;
    font-size: 1em;
    height: 100%;
    width: 100%;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon {
    border-style: solid;
    height: 0.25em;
    position: absolute;
    width: 0.25em;
}

.gm-style
.controls.fullscreen-control
.fullscreen-control-icon.fullscreen-control-top-left {
    border-width: 2px 0 0 2px;
    left: 0.1em;
    top: 0.1em;
}

.gm-style
.controls.fullscreen-control.is-fullscreen
.fullscreen-control-icon.fullscreen-control-top-left {
    border-width: 0 2px 2px 0;
}

.gm-style
.controls.fullscreen-control
.fullscreen-control-icon.fullscreen-control-top-right {
    border-width: 2px 2px 0 0;
    right: 0.1em;
    top: 0.1em;
}

.gm-style
.controls.fullscreen-control.is-fullscreen
.fullscreen-control-icon.fullscreen-control-top-right {
    border-width: 0 0 2px 2px;
}

.gm-style
.controls.fullscreen-control
.fullscreen-control-icon.fullscreen-control-bottom-left {
    border-width: 0 0 2px 2px;
    left: 0.1em;
    bottom: 0.1em;
}

.gm-style
.controls.fullscreen-control.is-fullscreen
.fullscreen-control-icon.fullscreen-control-bottom-left {
    border-width: 2px 2px 0 0;
}

.gm-style
.controls.fullscreen-control
.fullscreen-control-icon.fullscreen-control-bottom-right {
    border-width: 0 2px 2px 0;
    right: 0.1em;
    bottom: 0.1em;
}

.gm-style
.controls.fullscreen-control.is-fullscreen
.fullscreen-control-icon.fullscreen-control-bottom-right {
    border-width: 2px 0 0 2px;
}
/**END CONTROL*/


@media print {
    .sidebar,
    #wrapper #content-wrapper #content > nav.navbar,
    #content > .boxMap .map-menu-left,
    #content > .boxMap .map-province,
    .gm-style .controls {
        display: none !important;
    }

    #content > .boxMap {
        height: 100vh;
        grid-template-columns: 100%;
    }
}


@media (min-width: 768px) {
    .sidebar.toggled {
        /*width: 0 !important;*/
    }
}

#wrapper #content-wrapper #content > nav.navbar {
    margin-bottom: 0 !important;
}
