$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black: #000 !default;

$blue: #4e73df !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e74a3b !default;
$orange: #fd7e14 !default;
$yellow: #fff500 !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;

@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Regular.eot");
	src: url("../font/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
	  url("../font/Roboto/Roboto-Regular.woff2") format("woff2"),
	  url("../font/Roboto/Roboto-Regular.woff") format("woff"),
	  url("../font/Roboto/Roboto-Regular.ttf") format("truetype"),
	  url("../font/Roboto/Roboto-Regular.svg#../font/Roboto/Roboto-Bold")
		format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../font/Roboto/Roboto-Bold.eot");
	src: url("../font/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
	  url("../font/Roboto/Roboto-Bold.woff2") format("woff2"),
	  url("../font/Roboto/Roboto-Bold.woff") format("woff"),
	  url("../font/Roboto/Roboto-Bold.ttf") format("truetype"),
	  url("../font/Roboto/Roboto-Bold.svg#../font/Roboto/Roboto-Bold")
		format("svg");
	font-weight: 700;
	font-style: normal;
}
$font-family-sans-serif: "Roboto", arial;

// Borders Radius
$border-radius: 0.35rem !default;
$border-color: darken($gray-200, 2%);
// Custom Colors
$brand-google: #ea4335;
$brand-facebook: #3b5998;

::placeholder {
	color: $gray-900;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: $gray-900 !important;
}
.text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.searchBar {
	cursor: pointer;
	&:hover {
		color: $yellow !important;
	}
  }
.bg-light {
	background: $gray-300 !important;
   }

/*Login Start*/
$color_one: #0a58be;
$color_two: #1065b4;
$bgcolor: #201c29;
$light: #fefefe;

// ::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }

 //width /
::-webkit-scrollbar {
    width: 10px;border-radius: 10px;
}

 // Track /
::-webkit-scrollbar-track {
    background: $gray-200;
}

 // Handle /
::-webkit-scrollbar-thumb {
    background: $gray-600;border-radius: 10px;
}

     // Handle on hover /
    ::-webkit-scrollbar-thumb:hover {
        background: $gray-300;
    }

/* menu start */
.dropdown-menu {
	min-width: 15rem !important;
}
.dropdown-item {
	white-space: normal !important;
}
/* menu end */

/* Form start */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    border: 1px $gray-400 solid !important;
	border-radius: 5px;;
}
.table thead th {
    vertical-align: top !important;
}
.form-control {
	height: unset !important;
	padding: 0.475rem 0.75rem !important;
}
.btn-light {
    color: $gray-900 !important;
    background-color: $white !important; 
}
input.form-input {
	border: 1px solid $gray-400;
	padding: 8px 15px;
	border-radius: $border-radius;
	&:focus {
		border: 1px solid $blue !important;
		padding: 8px 15px;
		&::placeholder {
			color: transparent;
		}
	}
}
textarea.form-input {
	border: 1px solid $gray-400;
	padding: 8px 15px;
	border-radius: $border-radius;
	&:focus {
		border: 1px solid $blue !important;
		padding: 8px 15px;
		&::placeholder {
			color: transparent;
		}
	}
}
select {
	border: none;
	border-bottom: 1px solid $gray-900;
	padding: 5px 0;
	&:focus {
		border: 1px solid $blue !important;
		padding: 5px 10px;
		&::placeholder {
			color: transparent;
		}
	}
}
/* Form end */




/* Menu dropdown start */
@media (min-width: 992px) {
	.dropdown-menu {
		.dropdown-toggle {
			&:after {
				border-top: .3em solid transparent;
				border-right: 0;
				border-bottom: .3em solid transparent;
				border-left: .3em solid;
			}
		}
		.dropdown-menu {
			margin-left: 0;
			margin-right: 0;
		}
		li {
			position: relative;
		}
		>li {
			&:hover {
				background-color: var(--light);
				>.submenu {
					display: block;
				}
			}
		}
	}
	.nav-item {
		.submenu {
			display: none;
			position: absolute;
			left: 100%;
			top: -7px;
		}
		.submenu-left {
			right: 100%;
			left: auto;
		}
	}
}
/* Menu dropdown end */

.iconMenu {
	width: 30px;
}