@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Regular.eot");
  src: url("../font/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto/Roboto-Regular.woff") format("woff"), url("../font/Roboto/Roboto-Regular.ttf") format("truetype"), url("../font/Roboto/Roboto-Regular.svg#../font/Roboto/Roboto-Bold") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Bold.eot");
  src: url("../font/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Roboto/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto/Roboto-Bold.woff") format("woff"), url("../font/Roboto/Roboto-Bold.ttf") format("truetype"), url("../font/Roboto/Roboto-Bold.svg#../font/Roboto/Roboto-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }
::placeholder {
  color: #3a3b45; }

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #3a3b45 !important; }

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.searchBar {
  cursor: pointer; }
  .searchBar:hover {
    color: #fff500 !important; }

.bg-light {
  background: #dddfeb !important; }

/*Login Start*/
::-webkit-scrollbar {
  width: 0;
  height: 0; }

/* menu start */
.dropdown-menu {
  min-width: 15rem !important; }

.dropdown-item {
  white-space: normal !important; }

/* menu end */
/* Form start */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  border: 1px #d1d3e2 solid !important;
  border-radius: 5px; }

.table thead th {
  vertical-align: top !important; }

.form-control {
  height: unset !important;
  padding: 0.475rem 0.75rem !important; }

.btn-light {
  color: #3a3b45 !important;
  background-color: #fff !important; }

input.form-input {
  border: 1px solid #d1d3e2;
  padding: 8px 15px;
  border-radius: 0.35rem; }
  input.form-input:focus {
    border: 1px solid #4e73df !important;
    padding: 8px 15px; }
    input.form-input:focus::placeholder {
      color: transparent; }

textarea.form-input {
  border: 1px solid #d1d3e2;
  padding: 8px 15px;
  border-radius: 0.35rem; }
  textarea.form-input:focus {
    border: 1px solid #4e73df !important;
    padding: 8px 15px; }
    textarea.form-input:focus::placeholder {
      color: transparent; }

select {
  border: none;
  border-bottom: 1px solid #3a3b45;
  padding: 5px 0; }
  select:focus {
    border: 1px solid #4e73df !important;
    padding: 5px 10px; }
    select:focus::placeholder {
      color: transparent; }

/* Form end */
/* Menu dropdown start */
@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after {
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid; }
  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0; }
  .dropdown-menu li {
    position: relative; }
  .dropdown-menu > li:hover {
    background-color: var(--light); }
    .dropdown-menu > li:hover > .submenu {
      display: block; }

  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px; }
  .nav-item .submenu-left {
    right: 100%;
    left: auto; } }
/* Menu dropdown end */
.iconMenu {
  width: 30px; }

/*# sourceMappingURL=style.css.map */
