// Sidebar
.closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 36px;
  color: $white;
}
.sidebar {
  .top-navbar {
    background: $primary;
    &:hover {
      color: $yellow !important;
      background: $primary !important;
    }
  }
  @media (max-width: 767px) {
      width: $sidebar-collapsed-width-xs;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s;
  }
  width: $sidebar-collapsed-width;
  min-height: 100vh;
  .nav-item {
    position: relative;
    &:last-child {
      margin-bottom: 1rem;
    }
    .nav-link {
    @media (max-width: 767px) {
      text-align: left; 
      width: 100%; 
    }
    display: flex;
      text-align: center;
      padding: 0.75rem 1rem;
      width: $sidebar-collapsed-width;
      span {
        display: block;
      }
    }
    &.active {
      .nav-link {
        font-weight: 700;
      }
    }
    // Accordion
    .collapse {
      position: absolute;
      left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
      z-index: 1;
      top: 2px;
      @media (max-width: 767px) {
        position: relative;
        left: 15px;
      }
      // Grow In Animation
      @extend .animated--grow-in;
      .collapse-inner {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        @media (max-width: 767px) {
          box-shadow: none;
        }
      }
    }
    .collapsing {
      display: none;
      transition: none;
    }
    .collapse,
    .collapsing {
      .collapse-inner {
        padding: .5rem 0;
        min-width: 10rem;
        font-size: $dropdown-font-size;
        margin: 0 0 1rem 0;
        .collapse-header {
          margin: 0;
          padding: .5rem 1.5rem;
          text-transform: uppercase;
        }
        .collapse-item {
          padding: 0.5rem 1rem;
          margin: 0 0.5rem;
          display: block;
          color: $gray-900;
          text-decoration: none;
          border-radius: $border-radius;
          &:hover {
            color: $danger;
          }
          &:active {
            color: $danger;
          }
          &.active {
            color: $danger;
          }
        }
      }
    }
  }
  #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  &.toggled {
    @media (max-width: 767px) {
      width: 100% !important;
    }
    width: $sidebar-collapsed-width !important;
    overflow: hidden;

  }
  .sidebar-brand {
    height: $topbar-base-height;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
    @media (max-width: 767px) {
      max-width: 20% !important;
    }
    .sidebar-brand-icon {
      img {
        height: 50px;
      }
      i {
        font-size: 2rem;
      }
      @media (max-width: 767px) {
        position: absolute;
          left: 15px;
      }
    }
    .sidebar-brand-text {
      display: none;
    }
  }
  hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }
  .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    @extend .text-uppercase;
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    width: $sidebar-base-width !important;
    .nav-item {
      // Accordion
      .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        animation: none;
        .collapse-inner {
          border-radius: 0;
          box-shadow: none;
        }
      }
      .collapsing {
        display: block;
        transition: $transition-collapse;
      }
      .collapse,
      .collapsing {
        margin: 0 1rem;
      }
      .nav-link {
        display: flex;

        width: 100%;
        text-align: left;
        padding: 1rem;
        width: $sidebar-base-width;
        i {
          font-size: 0.85rem;
        }
        span {
          font-size: 1rem;
          display: inline;
        }
        // Accordion Arrow Icon
        &[data-toggle="collapse"] {
          &::after {
            width: 1rem;
            text-align: center;
            float: right;
            vertical-align: 0;
            border: 0;
            font-weight: 900;
            content: '\f107';
            font-family: 'Font Awesome 5 Free';
          }
          &.collapsed::after {
            content: '\f105';
          }
        }
      }
    }
    .sidebar-brand {
      .sidebar-brand-icon i {
        font-size: 2rem;
      }
      .sidebar-brand-text {
        display: none;
      }
      .sidebar-brand-icon {
        display: none;
      }

      img {
        height: 50px;;
      }
    }
    .nav-item {
      .nav-link {
        span {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .textMenu {
          display: none;
        }
        &[data-toggle="collapse"]::after {
          display: none;
        }
      }
    }
    #sidebarToggle {
      margin-left: -3.5rem;
      background: $light;
      border-radius: 5px !important;
      &:hover {
        background: $gray-500;
      }
    }

    .sidebar-heading {
      text-align: left;
    }
    &.toggled {
      overflow: visible;
      width: $sidebar-collapsed-width !important;
      .nav-item {
        // Accordion
        .collapse {
          position: relative;
          left:1.75rem;
          z-index: 1;
          top: 2px;
          // Grow In Animation for Toggled State
          animation-name: growIn;
          animation-duration: 200ms;
          animation-timing-function: transform cubic-bezier(.18,1.25,.4,1), opacity cubic-bezier(0,1,.4,1);
          .collapse-inner {
            border-radius: $border-radius;
          }
        }
        .collapsing {
          display: none;
          transition: none;
        }
        .collapse,
        .collapsing {
          margin: 0;
        }
        &:last-child {
          margin-bottom: 1rem;
        }
        .nav-link {
          align-items: center;
          padding: 0.75rem 1rem;
          width: $sidebar-collapsed-width;

          &[data-toggle="collapse"]::after {
            display: block;
          }
          .textMenu {
            display: block;
          }
        }
      }
      .sidebar-brand {
        .sidebar-brand-icon {
          display: block;
        }
        .sidebar-brand-icon i {
          font-size: 2rem;
        }
        .sidebar-brand-text {
          display: block;
        }
          
      }
      
    
      .top-navbar {
        background: $primary;
      }
      #sidebarToggle {
        background: $primary;
        border-radius: 5px !important;
        &:hover {
          background: $warning;
        }
      }


    }
  }
}

// Sidebar Color Variants

// Sidebar Light
.sidebar-light {
  .sidebar-brand {
    color: $gray-700;
  }
  hr.sidebar-divider {
    border-top: 1px solid $gray-200;
  }
  .sidebar-heading {
    color: $blue;
    @media (max-width: 767px) {
      text-align: left; 
    }
  }
  .nav-item {
    &:not(:last-child) {
      border-bottom: 1px $gray-200 solid;
    }
    .nav-link {
      color: $gray-900;
      i {
        width: 30px;
        height: 30px;
        margin-right: 0.25rem;
        color: $gray-900;
      }
      &:active,
      &:focus,
      &:hover {
        color: $danger;
        i {
          color: $danger;
        }
      }
      // Accordion
      &[data-toggle="collapse"]::after {
        color: $gray-900;
      }
    }
    &.active {
      .nav-link {
        color: $danger;
        i {
          color: $danger;
        }
      }
    }
  }
  // Color the sidebar toggler
  #sidebarToggle {
    background-color: transparent;
    &::after {
      color: $gray-900;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

// Sidebar Dark
.sidebar-dark {
  .sidebar-brand {
    color: $white;
  }
  hr.sidebar-divider {
    border-top: 1px solid fade-out($white, 0.85);
  }
  .sidebar-heading {
    color: fade-out($white, 0.6);
  }
  .nav-item {
    .nav-link {
      color: fade-out($white, 0.2);
      i {
        color: fade-out($white, 0.7);
      }
      &:active,
      &:focus,
      &:hover {
        color: $white;
        i {
          color: $white;
        }
      }
      // Accordion
      &[data-toggle="collapse"]::after {
        color: fade-out($white, 0.5);
      }
    }
    &.active {
      .nav-link {
        color: $white;
        i {
          color: $white;
        }
      }
    }
  }
  // Color the sidebar toggler
  #sidebarToggle {
    background-color: fade-out($white, 0.8);
    &::after {
      color: fade-out($white, 0.5);
    }
    &:hover {
      background-color: fade-out($white, 0.75);
    }
  }
  &.toggled {
    #sidebarToggle::after {
      color: fade-out($white, 0.5);
    }
  }
}
